<?xml version="1.0"?>
<launch>

    <!-- <include file="$(find custom_octomap_server)/launch/hector_slam.launch"/> -->

    <include file="$(find custom_octomap_server)/launch/octomap_dynamic.launch"/>

    <!-- <include file="$(find custom_octomap_server)/launch/rviz.launch"/> -->

    <!-- <include file="$(find yolact_ros)/launch/yolact_ros.launch"/> -->


</launch>
