<?xml version="1.0" encoding="utf-8"?>
<launch>
  <!-- Set the Rviz file name. Change the 'default' value only. -->
  <arg name="rviz_filename" default="demo.rviz"/> <!--wrs_prc_final, hsr_moveit -->

  <!-- Rviz -->
  <node name="$(anon rviz)" pkg="rviz" type="rviz" args="-d $(find custom_octomap_server)/config/$(arg rviz_filename)"/>

</launch>
